#dropbox {
	position: relative;
	display: flex;
	flex-direction: column;
	width: var( --dropbox-width );
	height: var( --dropbox-height );
	color: var( --dropbox-color );
	border: 8px dashed;
	border-radius: 8px;
	transition-duration: var( --dropbox-drag-transDur );
	transition-property: color transform border;
	pointer-events: none;
}

#dropbox.dragover {
	border-color: var( --dropbox-dragover-color );
	color: var( --dropbox-dragover-color );
	transform: scale( 1.1 );
}

.quit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 5px;
	font-size: 1em;
	pointer-events: visible;
}

#info {
	display: flex;
	flex-direction: column;
	font-size: 1em;
	font-weight: 100;
}

.dragover #info {
	font-size: 1.1em;
}

.icon::before,
#info {
	transition: font-size var( --dropbox-drag-transDur );
}

#render-btn {
	display: inline-block;
	padding: .3em 1em;
	margin: 16px auto 0;
	color: #fff;
	font-size: .9em;
	background-color: #67a;
	border-radius: 4px;
	cursor: pointer;
	pointer-events: visible;
	user-select: none;
}
