#dropbox {
	position: relative;
	display: flex;
	flex-direction: column;
	width: var( --dropbox-width );
	height: var( --dropbox-height );
	color: var( --dropbox-color );
	border: var( --dropbox-borderSize ) dashed;
	border-radius: var( --dropbox-borderSize );
	transition: var( --dropbox-drag-transDur );
	transition-property: color, transform, border;
	pointer-events: none;
}

.quit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px 10px;
	font-size: 14px;
	pointer-events: visible;
	opacity: .5;
	cursor: pointer;
}

#message {
	display: flex;
	flex-direction: column;
	font-size: 1em;
	font-weight: 100;
	transition: font-size var( --dropbox-drag-transDur );
}

#dropbox #file {
	display: none;
	max-width: 80%;
}

#dropbox.render #file {
	display: flex;
	flex-direction: column;
}

#title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#render-btn {
	display: inline-block;
	padding: .3em 1em;
	margin: 0 auto;
	color: #fff;
	font-size: .9em;
	background-color: #67a;
	border-radius: 4px;
	cursor: pointer;
	pointer-events: visible;
	user-select: none;
}

#render-progress {
	display: block;
	margin: 12px auto;
}

#dropbox.dragover {
	color: var( --dropbox-dragover-color );
	transform: scale( 1.1 );
}

.dragover #message {
	font-size: 1.1em;
}

