@font-face {
	font-family: "Inconsolata";
	src: url( "../../assets/inconsolata-regular.ttf" );
}


@font-face {
	font-family: "FontAwesome";
	src: url( "../../assets/fontawesome-solid-900.woff" ) format( "woff" );
}
