@font-face {
	font-family: "Inconsolata";
	src: url( "../../../daw/assets/inconsolata-regular.ttf" );
}

@font-face {
	font-family: "FontAwesome";
	src: url( "../../../daw/assets/fa-solid-900.woff" ) format( "woff" );
}
