:root {
	--app-bgColor: #555;

	--dropbox-width: 600px;
	--dropbox-height: 400px;
	--dropbox-color: rgba( 255, 255, 255, .4 );
	--dropbox-borderSize: 6px;

	--dropbox-dragover-color: rgba( 255, 255, 255, .6 );
	--dropbox-drag-transDur: .2s;
}
